.selected-image {
    border: 5px solid green; 
    
}


h1 {
    font-size: 30px;
    font-weight: bold; 
    color: #5c1616;
    margin-bottom: 40px;
}

.grape-name{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;

}


.custom-button-finish {
    margin-right: 20px; 
    color: green;
    font-weight: bold;
    background-color: green;
}

.custom-button-reset {
    color: Red;
    font-weight: bold;
}

